.Makeme{
    background-color: aquamarine;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 40%;
    top: 40%;
    /* transform: rotateY(110deg); */
    transition:all;
}
div:hover{
    height: 100px;
    width: 100px;

}