/* @keyframes changeShape{
    from{
        border-radius: 0%;

    }
    to{
        border-radius: 50%;
    }
} */
.Makeme{
    background-color: aquamarine;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 40%;
    top: 40%;
    /* transform: rotateY(110deg); */
    /* animation: changeShape 1s ease-in-out 5 alternate; */

}

/* div:hover{
    transform:  rotate(360deg) scale(1.5) translate(100px);
   

} */